a:hover {
   text-decoration: none !important;
   color: var( --main-white-color);
}

/* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .mySlides img {
    width: 462px;
    height: 262px;
    border-radius: 10px;
  }
  .productDetail .column>img {
    width: 78px;
    height: 52px;
  }
  .productDetail .column {
    padding: 4px;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    display: none;
  }
  .productWrapper {
      position: relative;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  section {
      padding: 32px 70px;
  }
  .quantity-left-minus {
    width: 50px;
    height: 50px;
    background: #DADADA;
    border-radius: 5px;
    color: var( --main-white-color);
    font-size: 22px;
  }
  .quantity-right-plus {
    width: 50px;
    height: 50px;
    background: #3F3F3F;
    border-radius: 5px;
    color: var( --main-white-color);
    font-size: 22px;
  }
  #productQuantity {
   max-width: 50px;
    height: 50px;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ProductDetail-cart {
    width: 310px;
    height: 72px;
    background: var(--main-brown-color);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: var( --main-white-color);
  }
  .ProductDetail-wishlist {
    width: 310px;
    height: 72px;
    background: #2EAFF6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: var( --main-white-color);
  }
.productDetail-btns {
    display: flex;
}
.specsReviews .container {
  max-width: 100%;
}
.progressBar-wrapper .progress {
  margin: 8px 0;
  width: 100%;
  border-radius: 18px;
}
.progressItem {
  display: flex;
  align-items: center;
}
.progressItem span {
  white-space: nowrap;
  margin-right: 12px;
}
.progressItem .progress-bar  {
  background: var(--main-brown-color);
}
.writeReview-wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}
.reviewBtn {
  border: 2px solid var(--main-brown-color);
  border-radius: 7px;
  min-height: 40px;
  width: 100%;
  background: none;
  color: var(--main-brown-color);
  margin: 64px 0 16px 0;
}
.viewAll-reviews {
  background: var(--main-brown-color);
  border-radius: 5px;
  width: 348.53px;
  height: 64px;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  border: none;
}
.productDetail-head h1,
.productDetail-head {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
.productRating-count {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: var(--main-brown-color);
  margin: 4px;
}
.productDetail-rating {
  margin-bottom: 22px;
}
.productDetail-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  color: #000000;
  padding-bottom: 32px;
}
.productDetail-price {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.productPrice-compare {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}
.productPrice-prev {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #828282;
  padding-left: 12px;
}
.ProductStock {
  color: #008C26;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  padding: 12px;
  border: 3px solid #008C26;
  border-radius: 10px;
}
.productPrice-compare>p {
  font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.ProductQty-input>span {
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #000000;
  margin-right: 22px;
}
.ProductQty-input {
  display: flex;
  align-items: center;
}
.productQty>p {
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.productDetail-btns svg {
  padding: 2px;
  margin-right: 12px;
  min-width: 32px;
}
.productDetail-btns a {
  margin-right: 22px;
}
.productDetail .col-md-5>.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}

.nav.nav-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  width: 100%;
  padding-left: 14px;
}
.nav.nav-tabs .nav-link {
  border: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #000000;
}
.nav.nav-tabs .nav-link.active {
  border-bottom: 4px solid var(--main-brown-color);
  padding-bottom: 16px;
}
.tab-content {
  margin-top: 32px;
}
.tab-content h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
}
.profileWrapper img {
  margin: 0 16px 16px 0;
}
.singleReview-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
}
.reviewDate-wrapper {
  margin-bottom: 16px;
}
.singleReview {
  margin-bottom: 32px;
}
.reviewForm .personal-info_wrapper {
  margin: 100px 0;
}
.reviewForm .floating-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
  left: 35px;
  width: 90%
}
.reviewForm .floating-text span {
  font-weight: 600;
  font-size: 26px;
  line-height: 28px;
  color: #000000;
}
.floatingSubmitReview {
  background: var( --main-white-color);
}
.floatingSubmitReview button {
  background: var(--main-brown-color);
  border-radius: 5px;
  width: 348.53px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var( --main-white-color);
}
.tab-content ul {
  padding: 0;
}
.tab-content ul li {
  list-style: none;
  display: flex;
 
}
.specificationLeft {
  min-width: 300px;
  border: 1px solid #828282;
  padding: 8px;
  height: inherit;
  margin-right: 20px;
  font-weight: 300;
font-size: 22px;
line-height: 27px;
color: var(--main-brown-color);
}
.specificationRight {
  border: 1px solid #828282;
  padding: 8px;
  height: inherit;
  width: 100%;
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.caption-container {
  display: none !important;
}
.customerRating-count {
  font-weight: 600;
font-size: 18px;
line-height: 18px;
}
.specificationList li:first-child .specificationLeft:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.specificationList li:first-child .specificationRight:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} 
.reviewForm .ratingTrue>span,
.reviewForm .ratingFalse>span {
  display: flex;
  position: relative;
  max-height: 18px;
}
.reviewForm .ratingTrue,
.reviewForm .ratingFalse {
  display: flex;
}
.reviewForm .ratingTrue>span input, .reviewForm .ratingFalse>span input {
  width: 18px;
  max-height: 18px;
  min-height: 18px;
  position: absolute;
  top: -12px;
  background: transparent;
  opacity: 0;
}
.qualityStar {
  display: flex;
  align-items: center;
}
.qualityStar p {
  margin-bottom: 0;
  margin-right: 12px;
}